version: '3.8'

services:
  # Serviço do Banco de Dados
  mongodb:
    image: mongo:6
    container_name: barco-mongo
    ports:
      - "8014:8002" # Porta externa 27018 mapeada para interna 27017
    volumes:
      - mongo_data:/data/db
    networks:
      - barco-network

  # Serviço do Backend (NodeJS API)
  backend:
    build: ./backend
    container_name: barco-backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongodb:27017/projeto_barco # Conecta pelo nome do serviço 'mongodb' na rede interna
      - COLLECTION_NAME=barco_info
      - PORT=5000
    depends_on:
      - mongodb
    networks:
      - barco-network

  # Serviço do Frontend (React + Vite)
  frontend:
    build: .
    container_name: barco-frontend
    restart: always
    # O frontend expõe a porta 8002 internamente
    networks:
      - barco-network

  # Serviço do Proxy Reverso (Nginx + HTTPS)
  nginx:
    image: nginx:latest
    container_name: barco-nginx-proxy
    ports:
      - "80:80"   # HTTP (Redireciona para HTTPS)
      - "443:443" # HTTPS
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs
    depends_on:
      - frontend
      - backend
    networks:
      - barco-network

volumes:
  mongo_data:

networks:
  barco-network:
    driver: bridge