version: '3.8'

services:
  # --- Banco de Dados ---
  mongodb:
    image: mongo:6
    container_name: barco-mongo
    ports:
      - "27018:27017" # Acessível externamente na 27018, internamente na 27017
    volumes:
      - mongo_data:/data/db
    networks:
      - barco-network

  # --- Backend (API) ---
  backend:
    build: ./backend
    container_name: barco-backend
    restart: always
    environment:
      # Conecta ao serviço 'mongodb' na porta interna padrão 27017
      - MONGO_URI=mongodb://mongodb:27017/projeto_barco
      - COLLECTION_NAME=barco_info
      - PORT=5000
    depends_on: # O backend depende do mongodb
      mongodb:
        condition: service_started # Inicia quando o serviço mongo começar
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/dados"] # Testa uma rota da API
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - barco-network


  # --- Frontend (React) ---
  frontend:
    build: . # Usa o Dockerfile na raiz (Multi-stage build)
    container_name: barco-frontend
    restart: always
    networks:
      - barco-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8002"] # Testa se o servidor web está respondendo
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
      - barco-network

  # --- Proxy Reverso (Nginx) ---
  nginx:
    image: nginx:latest
    container_name: barco-nginx-proxy
    ports:
      - "80:80"   # HTTP
      - "443:443" # HTTPS
    volumes:
      # Monta o arquivo de configuração dentro do diretório de configurações do Nginx
      - ./nginx/nginx.conf:/etc/nginx/conf.d/barco.conf
      - ./certs:/etc/nginx/certs # <-- Use caminho relativo
    depends_on: # O Nginx depende do frontend e backend estarem SAUDÁVEIS
      frontend:
        condition: service_healthy
      backend:
        condition: service_healthy
    networks:
      - barco-network

volumes:
  mongo_data:

networks:
  barco-network:
    driver: bridge