version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: barco-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - barco-network

  backend:
    build: ./backend
    container_name: barco-backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongodb:27017/projeto_barco
      - COLLECTION_NAME=barco_info
      - PORT=5000
    depends_on:
      - mongodb
    networks:
      - barco-network

  frontend:
    build: .
    container_name: barco-frontend
    restart: always
    networks:
      - barco-network

  nginx:
    image: nginx:latest
    container_name: barco-nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    configs:
      - source: nginx-config
        target: /etc/nginx/conf.d/default.conf
    volumes: # O volume para os certificados continua o mesmo
      - /home/marlon/Documentos/lacis/Dashboard-b.e/certs:/etc/nginx/certs:ro
    depends_on:
      - frontend
      - backend
    networks:
      - barco-network

configs:
  nginx-config:
    file: ./nginx/nginx.conf

volumes:
  mongo_data:

networks:
  barco-network:
    driver: bridge